<div *ngIf="order._id" class="card order">
  <div class="card-body">
    <h5 class="card-title">Order Id: {{order._id}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ order.item.name.name }} | {{
      order.item.category.name }}</h6>
    <div class="container row">
      <div class="col-12 col-md-6">
        <img *ngIf="order.item.image" class="card-img-top ItemCardImage"
          [src]="order.item.image" alt="{{ order.item.name }}">
      </div>
      <div class="col-12 col-md-6">
        <p>Hello {{order.buyer.name}}, your order details are: </p>
        <table class="table">
          <tbody>
            <tr *ngIf="order.quantity>0">
              <td>Quantity: {{order.quantity}} Kgs </td>
            </tr>
            <tr *ngIf="order.quantity>0">
              <td>Cost: Rs. {{order.cost}}<br> *Add Transportation & Insurance extra, if any </td>
            </tr>
            <tr *ngIf="order.quantity==0">
              <td>Sample order</td>
            </tr>
            <tr>
              <td>ordered on: {{order.placedTime | date:'medium'}} </td>
            </tr>
            <tr>
              <td>Address: {{order.address.text}}, {{order.address.city.name}},
                {{order.address.city.state.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container">
      <ol class="progtrckr" data-progtrckr-steps="5">
        <li  [class.progtrckr-todo]="getOrderStatusNumber() < 1" [class.progtrckr-done]="getOrderStatusNumber() >= 1">New</li><!--
             --><li
             [class.progtrckr-todo]="getOrderStatusNumber() < 2" [class.progtrckr-done]="getOrderStatusNumber() >= 2">Confirmed</li><!--
             --><li
             [class.progtrckr-todo]="getOrderStatusNumber() < 3" [class.progtrckr-done]="getOrderStatusNumber() >= 3">Shipped</li><!--
             --><li
             [class.progtrckr-todo]="getOrderStatusNumber() < 4" [class.progtrckr-done]="getOrderStatusNumber() >= 4">Delivered</li>
      </ol>
    </div>
  </div>
</div>
