<div class="farmbg"></div>
<div class="container shdw" *ngIf="listing">
    <div class="listingOffsetTextColor">
  <div class="row container bordermk">

    <div class="col-12 col-md-6">
      <div class="ItemCardContainer">
        <img class="card-img-top ItemCardImage" [src]="listing.image" alt="{{
          listing.name }}">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="ItemCardContainer">
        <div class="card ItemCardDesc">
          <div class="card-body">
            <table style="width:100%">
              <tr>
                <th>
                  <h3 class="card-title">{{ listing.name.name }} </h3>
                </th>
              </tr>
              <tr>
                <th>Sample Number: {{ listing.sampleNo}}</th>
              </tr>
              <tr>
                <th>Type: {{ listing.category.name }}</th>
              </tr>
              <tr>
                <th>Price: Rs. {{ listing.price }} Per Kg</th>
              </tr>
            </table>


          <form #f="ngForm" class="form-horizontal" (ngSubmit)="order(f.value)">
            <div class="form-group row">
                <label for="quantity" class="col-sm-4 control-label">Quantity</label>
                <div class="col-sm-8">
                  <input required ngModel name="quantity" #quantity="ngModel" id="quantity"
                  type="number" class="form-control"  (keyup)="onQuantityChange(quantity.value)">
                </div>
                <div *ngIf="quantity.touched && !quantity.valid">
                  <div class="alrt">  Quantity is required </div>
                </div>
            </div>
            <div>
              Price : Rs. {{ price }} <br> *Add Transportation & Insurance extra, if any
            </div>
            <div>
            <button class="btn btn-primary" [disabled]="(!f.valid) || (!priceValid)" >Submit</button>
          </div>
          </form>

        </div>

        </div>
      </div>
    </div>
  </div>
  </div>
</div>



