.header {
  position: fixed;
  width: 100%;
  z-index: 30;
  height: 50px;
  /*background: linear-gradient(to bottom, rgba(99,122,54,1) 0%,rgba(125,185,232,0) 100%);*/
  background:  rgba(99,122,54,1);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  font-weight: 100;
}

.header a {
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.header a:hover {
  text-decoration: none;
}

.header .logo {
  margin: 0;
  display: inline-block;
  float: left;
  font-size: 28px;
  padding-top: 8px;
}

.header .logo .logo-icon-wrapper {
  margin-right: 3px;
  position: relative;
  display: inline-block;
  top: -3px;
}

.header .logo .logo-icon {
  width: 70px;
  height: 40px;
}

.header .logo .highlight {
  font-weight: 800;
}

.main-nav {
  margin-top: 6px;
}

.main-nav .navbar-toggler {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  padding: 8px 10px;
  right: 10px;
  top: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.main-nav .navbar-toggler:focus {
  outline: none;
}

.main-nav .navbar-toggler .icon-bar {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 22px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.main-nav .navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.main-nav .navbar-toggler:hover .icon-bar {
  background-color: #fff;
}

.main-nav .nav .nav-item {
  font-weight: normal;
  font-size: 14px;
  margin-right: 10px;
}

.main-nav .nav .nav-item .nav-link {
  color: rgba(255, 237, 0, 100);
  font-weight: 700;
}

.main-nav .nav .nav-item .nav-link.active {
  position: relative;
  background: none;
  color: #fff;
}

.main-nav .nav .nav-item .nav-link:hover {
  color: #fff;
  background: none;
}

.main-nav .nav .nav-item .nav-link:focus {
  outline: none;
  background: none;
}

.main-nav .nav .nav-item .nav-link:active {
  outline: none;
  background: none;
}

.main-nav .nav .nav-item:last-child {
  margin-right: 0;
}

.nav > li > a {
  padding-left: 5px;
  padding-right: 5px;
}

.nav-link {
  padding: 10px;
}

.dropdown-menu {
  background: #637a36;
  color: yellow;
}
