<div id="hero" class="hero-section" #hero>
  <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="10000">
    <div class="carousel-inner">
      <div class="item-wrapper textcontainer">
        <div class="container">
          <button class="heading btn btn-primary " disabled>
            <img class="butge" src="assets/images/but_graineasy.png" alt="GrainEasy">
          </button>
          <!-- button class="heading btn btn-primary " disabled>
            <span class="graintxt">Grain</span>
            <span class="eazytxt">Easy</span>
          </button-->
          <p class="intro h3">A dedicated aggregator of bulk staples</p>
        </div>
      </div>
    </div>
  </div>
  <!--//carousel-->
</div>
<!--//hero-->


<div id="buyer" class="about-section" #buyer>
  <div class="container text-center">
    <h2 class="section-title">Choose from pre defined graded listings</h2>
  </div>
  <div class="container">
    <div class="items-wrapper row container">
      <div class="item col-6 col-md-3">
        <div class="item-inner">
          <div class="figure-holder text-center">
            <img class="figure-image" src="assets/images/gc_bft.png" alt="image">
          </div>
          <!--//figure-holder-->
          <h3 class="item-title h4">Benefit from Increased Volumes</h3>
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-6 col-md-3">
        <div class="item-inner">
          <div class="figure-holder text-center">
            <img class="figure-image" src="assets/images/ge_rc.png" alt="image">
          </div>
          <!--//figure-holder-->
          <h3 class="item-title h4">Regular Customer</h3>
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->

      <div class="item col-6 col-md-3">
        <div class="item-inner">
          <div class="figure-holder text-center">
            <img class="figure-image" src="assets/images/ge_pr.png" alt="image">
          </div>
          <!--//figure-holder-->
          <h3 class="item-title h4">Better Price Realization</h3>
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-6 col-md-3">
        <div class="item-inner">
          <div class="figure-holder text-center">
            <img class="figure-image" src="assets/images/ge_sp.png" alt="image">
          </div>
          <!--//figure-holder-->
          <h3 class="item-title h4">Scheduled payment</h3>
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
    </div>
    <!--//items-wrapper-->
  </div>
</div>
<div id="seller" class="about-section" #seller>
  <div class="container text-center">
    <h2 class="section-title">Connect with sellers accross country with us</h2>
  </div>
  <div class="container">
    <div class="items-wrapper row container">
      <div class="item col-2 col-md-1">
        <div class="item-inner">
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-8 col-md-4">
        <div class="item-inner">
          <div class="figure-holder text-center">
            <img class="figure-image" src="assets/images/ge_truck.png" alt="image">
          </div>
          <!--//figure-holder-->
          <h3 class="item-title h4">You get the benefit of competitive price</h3>
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-2 col-md-1">
        <div class="item-inner">
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-2 col-md-1">
        <div class="item-inner">
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-8 col-md-4">
        <div class="item-inner">
          <div class="figure-holder text-center">
            <img class="figure-image" src="assets/images/ge_bal.png" alt="image">
          </div>
          <!--//figure-holder-->
          <h3 class="item-title h4">Timely delivery</h3>
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
      <div class="item col-2 col-md-1">
        <div class="item-inner">
        </div>
        <!--//item-inner-->
      </div>
      <!--//item-->
    </div>
    <!--//items-wrapper-->
  </div>
</div>
<div id="contact" class="contact-section cover" #contact>
  <div class="container text-center">
    <div class="contact-content">
      <p class="h3">Food is a difficult business. We will help you all the way.
        <br>Connect with us.
      </p>

    </div>
    <button class=" call btn btn-cta  ">
      <span class="h3 number">8340445819</span> </button>
  </div>
</div>
<!--//container-->z
