/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: quicksand;
  src: url("src/assets/font/Quicksand_Bold.otf") format("opentype");
}

body {
  font-family: quicksand;
  color: #fff;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
