<div class="container">
  <div class="row container listingOffsetTextColor">
    <div class="col-12 col-md-3">
        <div ngbDropdown class="btn-group btn-block dropright text-left">
            <button ngbDropdownToggle type="button" class="btn btn-secondary btn-block dropdown-toggle
              text-left" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Itemname
            </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
              <!-- Dropdown menu links -->
              <ng-container *ngFor="let itemname of itemNameList">
                  <button ngbDropdownItem  class="btn btn-secondary btn-block " (click)="setItemName(itemname)"> {{itemname.name}} </button>
              </ng-container>
            </div>
          </div>
      <div ngbDropdown class="btn-group btn-block dropright text-left">
          <button ngbDropdownToggle type="button" class="btn btn-secondary btn-block dropdown-toggle
            text-left" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Location
          </button>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
            <!-- Dropdown menu links -->
            <ng-container *ngFor="let city of cityList">
                <button ngbDropdownItem  class="btn btn-secondary btn-block " (click)="setCity(city)"> {{city.name}} </button>
            </ng-container>
          </div>
        </div>
      <div ngbDropdown class="btn-group btn-block dropright text-left">
        <button ngbDropdownToggle type="button" class="btn btn-secondary btn-block dropdown-toggle
          text-left" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Grade
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
          <!-- Dropdown menu links -->
          <ng-container *ngFor="let grade of gradeList">
              <button ngbDropdownItem  class="btn btn-secondary btn-block " (click)="setGrade(grade)"> {{grade}} </button>
          </ng-container>
        </div>
      </div>
      <div class="btn-group btn-block dropdown text-left">
        <button type="button" class="btn btn-secondary btn-block dropdown-toggle
          text-left" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Price
        </button>
      </div>
      <button class="btn btn-secondary btn-block text-left" (click)="clearSelection()">
          clear
        </button>
    </div>
    <div class="col-12 col-md-9">
      <div class="row">
        <ng-container *ngFor="let listing of listings">
          <div class="col-12 col-md-6">
            <div class="ItemCardContainer">
              <app-listing-card [listing]="listing"></app-listing-card>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
